body {
    background-color:dodgerblue;
}

h1 {
    background-color:deepskyblue;
    text-align: center;
}


input[type="radio"] {
    margin-left: 15px;
}

#subm {
    margin-bottom: 15px;
}

#form1 {
    display: grid;
    place-items: center;
    background-color:deepskyblue;
}

#divEnc {
    width: 925px;
    display: flex;
}

.enc {
    flex: 1;
    margin-right: 7px;
}

#div1 {
    background-color:deepskyblue;

}

#div2 {
    background-color:deepskyblue;
}

#div3 {
    height: 170px;
    display: grid;
    place-items: center;
    background-color:deepskyblue;
}

#div4 {
    height: 170px;
    display: grid;
    place-items: center;
    background-color:deepskyblue;
}

#div5 {
    display: grid;
    place-items: center;
    background-color:deepskyblue;
}

#history_table {
    background-color: black;
    width: 950;
    margin-bottom: 15px;
}

#table_header {
    align-items: center;
    background-color: gray;
}

#table_content {
    align-items: center;
    background-color: lightgray; 
}